@media only screen and(max-width:768px) and (min-width: 320px){
      /*-----------------header-------------------*/
      #header{
        .top {
         min-width: auto;
         height: 10px;
       }
     }
     .container {
     	width: auto;
     	height: 0px;
     }
     .container-tv {
     	width: auto;
     	height: 108px;
     }
     .container, .container-tv  {
     	.header_left{
     		float: none;
     	}
     	.header_right {
     		display: none;
     	}
     	.slogan {
     		padding-left: 63px;
     		font-size: 12px !important;
     	}
     	.IT_NETWORK {
     		padding: 28px 0px 0px 59px;
     		font-size: 23px !important;
     	}
     }
     .mobile-menu {.lines {
     	border-bottom: 15px double #f8f8f8; 
     	border-top: 5px solid #f8f8f8; 
     	content:"";
     	height: 5px; 
     	width:20px;
     	padding-right:15px;
     	float: right;
     }

     ul {
     	background-color: #0f5c9b;
     	position: relative;
     	display: none;
     	z-index: 1;
     	.icon {
     		display: inline;
     		position: relative;
     		left: -8px;
     	}
     	.icon-last{
     		top: 10px;
     	}
     	.br-menu{
     		display: inherit;
     	}
     }
     li {
      .not-hover{display: none ;} 
      .hover{display: block;}
      width: 89% !important;
      border-bottom: 1px dotted #fefeff !important;
      &:hover{
       border-bottom: none;
       .not-hover{
        display: none ;
      } 
    }
    a {
     width: 100%;
     background: none;
     text-align: left;
     color: #ffffff;
   }
   p{display: none;}
 }
 .show-menu {
  display:block;
  margin-top: -84px;
  float: right;
  margin-right: 4%;
  border-radius: 6px;
}
.dot {
  background: none;
  margin-bottom: 79%;
}
.dotted{
  border-top: 1px dotted white;
  margin-top: 7%;
}
}
      /*-----------------end header-------------------*/
      /*-----------------footer-------------------*/
      #footer {
        min-width: auto;
        clear: both;
        height: auto;
        background: url(../images/background_footer.png) no-repeat center;
        .content-footer {
          width: auto;
          display: flow-root;
          .border-footer{
            width: 308px;
            margin-top: 28px;
            padding-top: 0;
            height: auto;
            p{font-size: 17px;}
          }
          .text{ padding: 28px 18px 20px; }
          .item {
            padding-left: 0;
            float: none; 
            text-align: center;
          }
          .center-item { display: block;}
          .border-item {
            float: none;
            margin-top: 4%;
            background-color: #ffed4d;
            width: 250px;
            height: 40px;
            margin: 0 auto;
            p{font-size: 12px;}
            img { padding: 12px 12px 0px 20px; }
          }
          .black{display: none;}
        }
      }
      /*-----------------menu footer-------------------*/
      #menu-footer
      {min-width: auto;
        height: auto;
        .menu {
          width: auto;
          margin: 0 auto;
          ul{
            margin-top: 15px;
            margin-bottom: 15px;
          }
          li {
            font-size: 14px;
            font-family: "Hiragino Kaku Gothic Pro";
            height: 18px;
            margin-top:0;
          }
        }
      }
      #copyright{min-width: auto;}

      /*-----------------end footer-------------------*/

      /*================CONTENT OF INDEX=============*/

      /*-------------------slider--------------------*/
      #slider { 
        min-width: auto;
        width: 100%;
        padding-bottom: 21%;
        height: auto;
        display: flex;
        background: url(../images/slideshow.png) no-repeat center bottom;
        .slider { display: none;}
        .img-mb{margin: 0 auto;
         img{
          width: 100%;
          height: auto;
          padding-top: 20%;
          display: block;
        }
      }
    }
      /*-------------------end slider---------------------*/
      /*------------------content-index-----------------*/
      #content-index{
       width: auto;
       margin: 0px auto;
       padding: 0px 20px;
       .border_content{
        margin: 28px 0px;
        min-height: 556px;

        .content_left{
         width: auto;
         height: auto;
         float:none;
         background:none;
         .title {
          font-size: 30px;
          font-weight: 500;
        }
        .news {
          font-size: 19px;
          color: #0e5b9a;
          font-weight: 500;
        }
        .button{ display: none;}			
      }
      .content_right{
       font-size: 20px;
       font-family: "Hiragino Kaku Gothic Pro";
       color: rgb(13, 90, 153);
       float:none;
       padding: 31px 26px 0px 26px;
       p{
        padding: 10px 0px;
        border-top: 1px dotted #cccccc;
        &:last-child{
         border-bottom: 1px dotted #cccccc;
       }
       br{display: block;}
     }
     .date{
      color:#0e5b9a;
      font-weight: 500;
    }
    .text{
      color:black !important;
      border-bottom:1px solid black;
      text-decoration: none;
    }
  }
  .button-mb{
   display: flex;
   justify-content: center;
   margin-top: 4%;}   
 }
}
      /*------------------end content-index-----------------*/

      /*---------------content-construction----------------*/
      #construction{
       min-width: auto;
       .construction{width: auto;}
       .content_construction{
        text-align: center;
        padding: 59px 32px;
        h2{
          font-size: 30px;
          letter-spacing: -4px;
        }
        p:nth-child(2){
         font-size: 19px;
         color: #0e5b9a;
         padding-top: 10px;
         padding-bottom: 20px;
         font-weight:500;
       }
       p:nth-child(3){
         font-size: 18px;
         font-family: "Hiragino Kaku Gothic Pro";
         color: rgb(85, 85, 85);
       }
     }
     .item_construction{
      .items{
       display: flex;
       justify-content: center;
       .item_border{
        display: flex;
        justify-content: center;
        background: url(../images/background_border-mb.png) no-repeat;
        width: 100%;
        background-size: 100%;
        min-height: 276px;
        padding-top: 36px;
        margin-left: 9px;
        margin-right: 0px;
      }
      .item_borders{
        background: url(../images/background_border-mb.png) no-repeat;
        width: 106%;
        width: 100%;
        background-size: 100%;
        height: auto; 
        margin-right: 10px;
        margin-left: 10px;
      }
    }
    .item{
     height: 0px;
     width: 83px;
     float: left;
     text-align: center;
     .home-pc{display: inline-block;}
     .hover{display: none;}
     img{padding-top: 0px;}
     p{
      color:#0f5c9b;
      font-weight: bold;
    }
    button{
      padding: 3px 16px 3px 6px;
      background-color: #0f5c9b;;
      color: #ffffff;
      border-color: #0f5c9b;;
      box-shadow: none;
      border-style: none;
      cursor: pointer;
    }
  }
  .item1,.item2,.item3{
   position: absolute;
   margin-top: 6px;
   margin-left: 0;

 }
 .item3{ display: contents;
   padding-top: 35px
 }
 .item2{margin-top: 8px;}
}
}     
      /*------------end content-construction------------*/
     /*--------------------alsok------------------------*/
     .pc img{ display:none;}
     .alsok{
       height: auto;
       width: auto;
       .right{float: none;
        text-align: center;
        p:first-child{
         font-size: 19px;
         padding: 36px 0px 32px;
       }
       p:nth-child(2){
         font-size: 14px;
         font-family: "Hiragino Kaku Gothic Pro";
         color: rgb(83, 83, 83);
       }
       button{
         font-size: 13px;
         width: 275px;
         height: 40px;
       }
     }
     .mb img{
      display:block;
      width: 88%;
    }
  }
      /*--------------------end alsok------------------------*/

      /*===================CONTENT OF TV====================*/

      /*-------------------mainimage-----------------------*/ 
      #mainimage{
        min-width: auto;
        p{
          font-size: 36px;
          padding-top: 30px;
          line-height: 1.2;
          br{display: block;}
        }
      }
      /*------------------end mainimage-------------------*/ 
      /*-------------------top-title---------------------*/ 
      #top-title{display: none;}
      .title{
        font-size: 36px;
        font-family: "Hiragino Kaku Gothic Pro";
        padding-top: 42px;
      }
      /*-----------------contents-------------------*/
      #contents{ 
        min-width: auto;
        height: auto;
        padding-bottom: 3px;
        .border {
          height: auto;
          width: auto;
          margin: 0px 23px 29px;
          position: relative;
          .left {
            float: none !important;
          }
          #tv{
            clear: both;
            display: flex;
            justify-content:center;
          }
          &:nth-child(3){
            height: auto !important;
            .tv{ padding-top: 25px;}
            #tv{
              clear: both;
              display: flex;
              justify-content:center;
            }
          }
          .name{
            font-size: 20px;
            position: absolute;
            left: 89px;
            top: 2px;
            font-family: "Hiragino Kaku Gothic Pro";
          }
          .tv{
            width: -webkit-fill-available;
            width: 90%;
            float: none;
          }
        }
        .border-item{
          float: none !important;
          margin:  0 auto !important;
          width: 91% !important;
          height: 59px !important;
          .center{
            display: flex;
            justify-content:center;
            img{padding: 10px 0 0;}
          }
          p{
            padding-top: 10px;
            font-family: "Hiragino Kaku Gothic Pro" !important;
          }
        }
        .border-items{
          width: 89% !important;
          float: none !important;
          margin:  0 auto !important;
          margin-top: 10px !important;
          .centers{
            display: flex;
            justify-content:center;
          }
          img{padding: 17px 7px 0px 0px !important;}
          p{padding: 2px 0px !important;
            font-size: 15px !important;}
          }
          .content{
            padding: 83px 14px 10px 25px !important;
            text-align: initial;
            font-size: 28px;
            font-family: "Hiragino Kaku Gothic Pro";
            color: rgb(85, 85, 85);
            br{display: none;}
          }
          .caption{
            font-size: 16px;
            font-family: "Meiryo";
            text-align: center;
            color: #525252;
            padding-bottom: 46px;
          }
        }
      /*-----------------end contents-------------------*/
      /*-----------------incident-------------------*/
      #incident{
        .content-incident{
          width: auto;
        }
        .border-incident{
          height: 40px !important;
          padding: 0 0 8px 0 !important;
          width: auto !important;
          margin:38px 23px 0px !important;
          p{
            font-size: 16px !important;
            color: rgb(15, 92, 155);
          }
        }
      } 
      /*-----------------end incident-------------------*/
      /*--------------------service--------------------*/
      .point{width: 15%;
        padding: 12px 0px 27px;
      }
      #service{
        height: 792px;
        min-width: auto;
        .caption{
          font-size: 19px;
          font-family: "Hiragino Kaku Gothic Pro";
          padding: 0px 35px 39px;
        }
        table{
          display: flex;
          margin: 0px 21px !important;
          border-collapse: collapse;
          position: relative;
          tbody{
            td{
              padding: 15px 0px 14px 0px !important;
              font-size: 23px;
              font-family: "Hiragino Kaku Gothic Pro";
              &:nth-child(1){
                position: absolute;
                width: 100%;
                top: 68px;
                border: 1px solid #cccccc;
              }
              &:nth-child(2){
                position: absolute;
                width: 100%;
                top: 201px;
                border: 1px solid #cccccc;
              }
              &:nth-child(3){
                position: absolute;
                padding-left: 10px !important;
                width: -webkit-fill-available !important;
                top: 334px;
                border: 1px solid #cccccc;
                br{display: none;}
              }
            }
            th{
              font-size: 23px;
              font-family: "Hiragino Kaku Gothic Pro";
              padding: 16px 0px;
              width: 100% !important;
              border: 1px solid #0e5b9a!important;
              position: absolute;
              &:nth-child(2){
                top: 133px;
              }
              &:nth-child(3){
                top: 266px;            
              }
            }
            th,tr, td {
              border:none; 
              border-collapse: collapse; 
            }
          }
        }
      }
      /*--------------------end service--------------------*/
    }
     /*=======================fix responsive==================*/
     @media only screen and(max-width:378px)and (min-width: 320px){
      #contents .border .tv {
        width: 90% !important;
        padding: 5% !important;
        margin-top: 4px;
      }
      #construction {
        .item1,.item2 { margin-top: 0px !important;}
      }
    }
    @media only screen and(max-width:499px) and(max-width:424px){
      #construction {
        .item_construction {
          .item {
            img { width: 79%;}
          }
          .item_border{padding-top: 0px !important; }
        }
      }
    }


    @media only screen and(max-width:400px)and (min-width:320px) {
      #construction {
        .item_construction {
          .item_border{ padding-top: 0px !important;}
          .item img{ width: 47%;}
          .item3 img{width: 29%;}
        }
      }
    }
    @media only screen and(max-width:500px)and (min-width:400px) {
      #construction {
        .item_construction {
          .item_border{ padding-top: 0px !important; }
          .item img{ width: 63%;}
          .item3{ padding-top: 10px;
            img{padding-top: 15px !important;
              width: 28%;}
            }
          }
        }
      }

      @media only screen and(max-width:600px)and (min-width:500px) {
        #construction {
          .item_construction {
            .item_border{ padding-top: 10px !important; }
          }
          .item3{ padding-top: 10px;
            img{width: 29%;
              padding-top: 12px !important;}
            }
          }
        }
        @media only screen and(max-width:768px)and (min-width:600px) {
          #construction {height: 602px;
            .item_construction {
              .item_border{ padding-top: 10px !important;
                .item1{margin-top: 34px; }
                .item2{ margin-top: 44px; }
              }
            }
            .item3{ padding-top: 10px;
              img{ padding-top: 45px !important;} }
            }
          }